
.icon-newspaper:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-users-1:before { content: '\e803'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */